<h1>Name: <%= @article.title %></h1>
<p>Content: <%= @article.content %></p>


<%= link_to 'Delete', article_path(@article),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
<%= link_to 'Go to articles', articles_path  %>
